@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings:
    "slnt" 0;
  color: #FFFFFF;
  background-color: #333333;
}
