@media (min-width: 900px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .card-2, .card-3 {
        margin-top: 0;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.3em;
    }

    .logo {
        width: 210px;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    .text-link {
        font-size: 1.6rem;
    }

}

@media (min-width: 1550px) {
    .cards {
        gap: 100px;
    }
}

@media (min-width: 1650px) {
    .welcome {
        margin: auto;
    }

    .welcome h1 {
        margin: 70px 0 20px 0;
    }

    .cards {
        margin: 50px auto;
        gap: 120px;
    }
}
