@import "imports/links.css";

body {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #FFF;
    background: #333333;
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: "Roboto Slab", "Courier New", monospace;
    font-weight: 600;
}

h1 {
    font-size: 2.2rem;
}

header {
    margin: 0px auto;
    background: #E4FFE5;
    padding: 25px;
    box-shadow: 0px 3px 17px 6px rgba(0, 0, 0, 0.2);
}

.logo-container {
    max-width: 1600px;
    margin: auto;
}

.logo {
    width: 163px;
    height: auto;
}

.welcome {
    margin: 25px;
    max-width: 1600px;
}

.welcome h1 {
    margin: 50px 0 20px 0;
}

.welcome p {
    margin: 0;
    padding-bottom: 35px;
}

.cards {
    margin: 25px;
    max-width: 1600px;
}

.cards h2 {
    margin: 0 0 20px 0;
}

.cards p {
    margin: 15px 0;
}

.cards a {
    display: block;
    margin-bottom: 15px;
}

.card {
    background: #3D3D3D;
    padding: 25px 25px 8px 25px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.card-2, .card-3 {
    margin-top: 50px;
}

.card-3 {
    margin-bottom: 70px;
}

footer {
    background: #E4FFE5;
    color: #333333;
    margin: 0;
    padding: 30px 25px 10px 25px;
}

footer a,
footer p {
    font-weight: 300;
}

.email {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.email a {
    font-size: 1rem;
}

.email i {
    font-size: 1.8rem;
}

.copyright {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}